.App {
  text-align: center;
}

.header {
  background-color: #f4e04d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #10375c;
}

.rp-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

table {
  width: 100%;
  height: 50%;
}
td, th {
  border: 1px solid gray;
  padding: 10px;
}

thead {
  background-color: '#f4e04d' 
}

tbody{
  height: 30% !important;
}
